:root {
  --green: #abdda4;
  --greenlight: #e5f5e0;
  --red: #ee0100;
  --padding: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(var(--greenlight), var(--green)) no-repeat;
  font-family: 'M PLUS 1 Code', monospace;
  padding: var(--padding);
  min-height: 100vh;
}

h1 {
  color: var(--red);
}

header {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
